.admin-mail {
    padding: 2em;
    background-color: var(--bg);
    color: var(--text-primary);
}

.admin-mail form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    box-sizing: border-box;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.input-fields label {
    font-weight: 600;
}

.input-fields input,
.input-fields textarea {
    border-radius: 7px;
    height: 30px;
    border: 2px solid var(--border);
    padding-left: 7px;
    outline: none;
}

.input-fields textarea {
    height: 80px;
    resize: none;
    padding-top: 3px;
}

.input-fields input:focus,
.input-fields textarea:focus {
    transition: border 0.2s ease;
    outline: none;
    border: 2px solid #0077ff;
}

.mail-btn {
    /* width: 50%; */
    align-self: center;
}

@media screen and (max-width: 895px) {
    .admin-mail form {
        width: 100%;
    }

    .mail-btn {
        width: 50%;
    }
}

@media screen and (max-width: 530px){
    .mail-btn {
        width: 100%;
    }
}