.deleteHabit-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: rgba(106, 106, 106, 0.405);
    display: flex;
    justify-content: center;
}

.loader{
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.deleteHabit {
    padding: 2em;
    /* transform: translate(-50%, -50%); */
    background-color: aliceblue;
    border-radius: 12px;
    width: 350px;
    height: fit-content;
}

.deleteHabit form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.deleteHabit form input {
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(118, 118, 118);
    padding: 0 4px;
}

.deleteHabit div {
    display: flex;
    justify-content: flex-end;
    gap: 7px;
}

.delete-cancel,
.delete-drop {
    border-radius: 4px;
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}

.delete-drop {
    background-color: rgb(226, 0, 0);
    color: white;
}

.delete-drop:disabled {
    background-color: rgb(141, 141, 141);
    color: #fff;
    cursor: not-allowed;
    /* cursor: no-drop; */
}